.mainDiv {
  background: url("../images/background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paragraph {
  padding: 0 15vmin;
  text-align: center;
}
.paragraph > p {
  font-size: 2.5vmin;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(71, 63, 49);
}
